.pdfcreator-page span.col-white,
.pdfcreator-page div.col-white {
	color: #fff;
}

.pdfcreator-page span.col-blue-light,
.pdfcreator-page div.col-blue-light {
	color: #97bfe7;
}

.pdfcreator-page span.col-blue,
.pdfcreator-page div.col-blue {
	color: #5185b9;
}

.pdfcreator-page span.col-blue-dark,
.pdfcreator-page div.col-blue-dark {
	color: #0060df;
}

.pdfcreator-page span.col-blue-navy,
.pdfcreator-page div.col-blue-navy {
	color: #3e5389;
}

.pdfcreator-page span.col-orange,
.pdfcreator-page div.col-orange {
	color: #e49c00;
}

.pdfcreator-page span.col-turquoise,
.pdfcreator-page div.col-turquoise {
	color: #259596;
}

.pdfcreator-page span.col-green,
.pdfcreator-page div.col-green {
	color: #3fb34c;
}

.pdfcreator-page span.col-purple,
.pdfcreator-page div.col-purple {
	color: #cd41cb;
}

.pdfcreator-page span.col-red,
.pdfcreator-page div.col-red {
	color: #b73a3a;
}

.pdfcreator-page span.col-grey-light,
.pdfcreator-page div.col-grey-light {
	color: #d2d2d2;
}

.pdfcreator-page span.col-grey-medium,
.pdfcreator-page div.col-grey-medium {
	color: #acacac;
}

.pdfcreator-page span.col-grey,
.pdfcreator-page div.col-grey {
	color: #787878;
}

.pdfcreator-page span.col-grey-dark,
.pdfcreator-page div.col-grey-dark {
	color: #434343;
}

.pdfcreator-page span.col-black,
.pdfcreator-page div.col-black {
	color: #000;
}

.pdfcreator-page th.col-white-bg,
.pdfcreator-page td.col-white-bg,
.pdfcreator-page span.col-white-bg {
	background-color: #fff;
}

.pdfcreator-page th.col-blue-light-bg,
.pdfcreator-page td.col-blue-light-bg,
.pdfcreator-page span.col-blue-light-bg {
	background-color: #e0ecf8;
}

.pdfcreator-page th.col-blue-bg,
.pdfcreator-page td.col-blue-bg,
.pdfcreator-page span.col-blue-bg {
	background-color: #cadaea;
}

.pdfcreator-page th.col-blue-dark-bg,
.pdfcreator-page td.col-blue-dark-bg,
.pdfcreator-page span.col-blue-dark-bg {
	background-color: #b2cff5;
}

.pdfcreator-page th.col-blue-navy-bg,
.pdfcreator-page td.col-blue-navy-bg,
.pdfcreator-page span.col-blue-navy-bg {
	background-color: #c5cbdb;
}

.pdfcreator-page th.col-orange-bg,
.pdfcreator-page td.col-orange-bg,
.pdfcreator-page span.col-orange-bg {
	background-color: #f7e1b2;
}

.pdfcreator-page th.col-turquoise-bg,
.pdfcreator-page td.col-turquoise-bg,
.pdfcreator-page span.col-turquoise-bg {
	background-color: #bddfdf;
}

.pdfcreator-page th.col-green-bg,
.pdfcreator-page td.col-green-bg,
.pdfcreator-page span.col-green-bg {
	background-color: #c5e8c9;
}

.pdfcreator-page th.col-purple-bg,
.pdfcreator-page td.col-purple-bg,
.pdfcreator-page span.col-purple-bg {
	background-color: #f0c6ef;
}

.pdfcreator-page th.col-red-bg,
.pdfcreator-page td.col-red-bg,
.pdfcreator-page span.col-red-bg {
	background-color: #e9c4c4;
}

.pdfcreator-page th.col-grey-light-bg,
.pdfcreator-page td.col-grey-light-bg,
.pdfcreator-page span.col-grey-light-bg {
	background-color: #d2d2d2;
}

.pdfcreator-page th.col-grey-medium-bg,
.pdfcreator-page td.col-grey-medium-bg,
.pdfcreator-page span.col-grey-medium-bg {
	background-color: #acacac;
}

.pdfcreator-page th.col-grey-bg,
.pdfcreator-page td.col-grey-bg,
.pdfcreator-page span.col-grey-bg {
	background-color: #787878;
}

.pdfcreator-page th.col-grey-dark-bg,
.pdfcreator-page td.col-grey-dark-bg,
.pdfcreator-page span.col-grey-dark-bg {
	background-color: #434343;
}

.pdfcreator-page th.col-black-bg,
.pdfcreator-page td.col-black-bg,
.pdfcreator-page span.col-black-bg {
	background-color: #000;
}
